services:
  debian:
    container_name: DebugAssist
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
      - "2222:22"
    tty: true
    stdin_open: true
    volumes:
      - ./build/executable/:/app
